/*CSS Principal*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.content-warp {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 9% 3%;
    position: relative;
}

.item-timeline {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 25px 25px;
    a,
    a:hover {
        color: #fff;
        text-decoration: none;
    }
}

.dark-bg {
    background: #000;
}


/*classes del boton top-up*/

#top-up {
    display: none;
}

.show {
    display: block !important;
}


/*fin*/

body {
    .container-menu {
        top: 0;
        height: 200px;
        display: flex;
        align-items: center;
        .row {
            width: 100%;
            nav.nav-menu {
                text-align: center;
                ul {
                    list-style: none;
                    padding: 0px;
                    li {
                        display: inline;
                        a {
                            overflow: visible;
                            text-align: left;
                            font-family: Helvetica Neue;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 100%;
                            color: #fff;
                            letter-spacing: 3px;
                            margin: 0 2%;
                            text-decoration: none;
                        }
                        a:hover {
                            color: #FFEB3B;
                            text-decoration: none;
                            border-bottom: 1px solid #FFEB3B;
                        }
                        a.active {
                            // color: rgba(242, 46, 99, 1);
                            text-decoration: none;
                            border-bottom: 2px solid #FFEB3B;
                        }
                    }
                }
            }
        }
    }
    header {
        position: absolute;
        width: 100%;
        height: 200px;
        z-index: 1;
        .menu {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 100%;
            position: absolute;
            top: 0px;
            width: 100%;
            img {
                left: 5%;
                top: 4.398px;
                max-width: 291.19px;
            }
            .logo {
                margin-left: 5%;
            }
            .search {
                position: absolute;
                right: 0;
                top: 0;
                padding: 15px;
                background-color: #000;
                img {
                    width: 35px;
                }
            }
        }
    }
    section.home-header {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%, rgba(0, 38, 202, 0.7) 50%), url(../img/bg_header.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 1080px;
        .block-text {
            .text-title {
                text-align: left;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 0.2px;
            }
            .title-dark {
                color: #000 !important;
            }
            svg {
                overflow: visible;
                width: 98.803px;
                height: 2px;
                left: 15px;
                transform: matrix(1, 0, 0, 1, 0, 0);
                margin: 5% 0px;
            }
            .description {
                text-align: left;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 2.5px;
                max-width: 644px;
            }
            .btn-learn {
                background-color: #0026CA;
                padding: 11px 40px;
                border-radius: 30px;
                display: block;
                margin: 10% 0px;
                max-width: 245px;
                text-align: center;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                color: #fff;
                letter-spacing: 2.5px;
                text-decoration: none;
            }
        }
        #Grupo_84 {
            position: absolute;
            width: 1px;
            height: 143.819px;
            left: 3.6%;
            top: 991.192px;
            overflow: visible;
        }
        #Grupo_83 {
            position: absolute;
            width: 1px;
            height: 143.819px;
            left: 0px;
            top: 0px;
            overflow: visible;
        }
        svg.Trazado_39_g {
            overflow: visible;
            position: absolute;
            width: 143.819px;
            height: 2px;
            transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1708.4922, 3679.1011) rotate(90deg);
            transform-origin: center;
            left: 0px;
            top: 0px;
        }
        .Trazado_40_ha {
            overflow: visible;
            position: absolute;
            width: 73.188px;
            height: 2px;
            transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1743.8077, 3714.4166) rotate(90deg);
            transform-origin: center;
            left: 0px;
            top: 0px;
        }
    }
    section.who-we-are {
        .block-text {
            height: 100%;
            display: flex;
            align-items: center;
            .dark-box {
                width: 100%;
                height: 100%;
            }
            h1 {
                text-align: left;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: bold;
                font-size: 80px;
                color: #0026CA;
                letter-spacing: 0.2px;
                padding: 50px 0px;
            }
            p {
                text-align: left;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 22px;
                color: rgba(0, 0, 0, 1);
                letter-spacing: 1px;
                max-width: 635px;
            }
        }
    }
    section.what-we-do {
        .float_img_top {
            position: absolute;
            top: 6%;
            right: 0px;
            max-width: 100px;
        }
        h1 {
            text-align: center;
            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 0.2px;
            padding: 50px 0px;
        }
        .blocks {
            text-align: center;
            padding: 50px 0px;
            svg {
                width: 55.427px;
                height: 94.454px;
            }
            h1 {
                text-align: center;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: bold;
                font-size: 35px;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 2px;
                padding: 25px 0px;
            }
            p {
                text-align: center;
                font-family: Helvetica Neue;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                color: rgba(255, 255, 255, 1);
                letter-spacing: 1px;
                max-width: 370px;
                margin: auto;
            }
        }
        #Grupo_82 {
            position: absolute;
            width: 1px;
            height: 143.819px;
            right: 3.6%;
            overflow: visible;
            bottom: -54px;
        }
        .Trazado_39 {
            overflow: visible;
            position: absolute;
            width: 143.819px;
            height: 2px;
            transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1708.4922, 3679.1011) rotate(90deg);
            transform-origin: center;
            left: 0px;
            top: 0px;
        }
        .Trazado_40 {
            overflow: visible;
            position: absolute;
            width: 73.188px;
            height: 2px;
            transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1743.8077, 3714.4166) rotate(90deg);
            transform-origin: center;
            left: 0px;
            top: 0px;
        }
    }
    section.our-work {
        .no-padding {
            padding-left: 0;
            padding-right: 0;
        }
        h1 {
            text-align: center;
            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            color: rgba(0, 0, 0, 1);
            letter-spacing: 0.2px;
            padding: 25px 0px 50px;
        }
        .content-thumb {
            .content {
                border: 1px solid;
                border-radius: 12px;
                height: 100%;
                min-height: 508px;
                margin: 0px 10px;
            }
            .content.img-1 {
                background: url(../img/1.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .content.img-2 {
                background: url(../img/2.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
            .content.img-3 {
                background: url(../img/3.png);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }
        }
    }
    section.contact {
        .float_bottom {
            position: absolute;
            max-width: 100px;
            left: 0;
            max-width: 100px;
            /* top: 6%; */
            bottom: 7%;
        }
        background: linear-gradient( rgba(0, 38, 202, 0.7), rgba(0, 38, 202, 0.7)),
        url('../img/bg_footer.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        .blocks {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-start;
        }
        h1 {
            text-align: left;
            font-family: Helvetica Neue;
            font-style: normal;
            font-weight: bold;
            font-size: 80px;
            color: rgba(255, 255, 255, 1);
            letter-spacing: 0.2px;
            padding: 15px 0px;
        }
        ul {
            list-style: none;
            padding-bottom: 50px;
            li {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                img {
                    width: 28px;
                }
                span {
                    text-align: left;
                    font-family: Helvetica Neue;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    color: rgba(255, 255, 255, 1);
                    letter-spacing: 1px;
                    line-height: 50px;
                    margin: 0px 20px;
                }
            }
        }
        .Rect_ngulo_white {
            width: 100%;
            height: 508px;
            background: #fff;
            border-radius: 20px;
            background: url('../img/mapa.png');
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    /*dots left slider */
    .slide-header {
        .slick-prev,
        .slick-arrow {
            display: none !important;
        }
        .vertical-dots-left {
            left: 10px;
            list-style: none;
            display: block;
            position: absolute;
            top: 40%;
            margin-top: -10px;
            text-align: right;
        }
        .vertical-dots-left li {
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: #fff;
            margin: 17px auto;
            border-radius: 100%;
        }
        .vertical-dots-left li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }
        .vertical-dots-left li button:hover,
        .vertical-dots-left li button:focus {
            outline: none;
        }
        .vertical-dots-left li button:hover:before,
        .vertical-dots-left li button:focus:before {
            opacity: 1;
        }
        .vertical-dots-left li button:before {
            font-family: 'slick';
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            content: '•';
            text-align: center;
            opacity: .25;
            color: black;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .vertical-dots-left li.slick-active button:before {
            opacity: .75;
            color: black;
        }
        .vertical-dots-left li.slick-active {
            background: url("../img/dot-active-yellow.png");
            width: 32px;
            height: 33px;
        }
    }
    /* dots right slider */
    .slide-our-work {
        position: relative;
        max-width: 66%;
        margin: auto;
        .slick-prev,
        .slick-next {
            font-size: 0;
            position: absolute;
            bottom: 0;
            top: 0;
            color: #d5122f;
            border: 0;
            background: none;
            z-index: 1;
            cursor: pointer;
        }
        .slick-prev {
            left: -60px;
        }
        .slick-prev:after {
            content: url('../img/left.png');
            font: 40px/1 'FontAwesome';
        }
        .slick-next {
            right: -60px;
            text-align: right;
        }
        .slick-disabled {
            display: none !important;
        }
        .slick-next:after {
            content: url('../img/right.png');
            font: 40px/1 'FontAwesome';
        }
        .slick-prev:hover:after,
        .slick-next:hover:after {
            color: #7e7e7e;
        }
        .vertical-dots-right {
            right: -125px;
            list-style: none;
            display: block;
            position: absolute;
            top: 40%;
            margin-top: -10px;
            text-align: right;
        }
        .vertical-dots-right li {
            position: relative;
            width: 20px;
            height: 20px;
            cursor: pointer;
            background: #000;
            margin: 17px auto;
            border-radius: 100%;
        }
        .vertical-dots-right li button {
            font-size: 0;
            line-height: 0;
            display: block;
            width: 20px;
            height: 20px;
            padding: 5px;
            cursor: pointer;
            color: transparent;
            border: 0;
            outline: none;
            background: transparent;
        }
        .vertical-dots-right li button:hover,
        .vertical-dots-right li button:focus {
            outline: none;
        }
        .vertical-dots-right li button:hover:before,
        .vertical-dots-right li button:focus:before {
            opacity: 1;
        }
        .vertical-dots-right li button:before {
            font-family: 'slick';
            font-size: 6px;
            line-height: 20px;
            position: absolute;
            top: 0;
            left: 0;
            width: 10px;
            height: 10px;
            content: '•';
            text-align: center;
            opacity: .25;
            color: black;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        .vertical-dots-right li.slick-active button:before {
            opacity: .75;
            color: black;
        }
        .vertical-dots-right li.slick-active {
            background: url("../img/dot-active-blue.png");
            width: 32px;
            height: 33px;
        }
    }
    footer {
        background: #000;
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .top-up {
        position: fixed;
        bottom: 26%;
        right: 2%
    }
}