html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.content-warp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 9% 3%;
  position: relative;
}

.dark-bg {
  background: #000;
}

body header {
  padding: 0% 5%;
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body header img {
  top: 4.398px;
  max-width: 291.19px;
}

body header nav ul {
  list-style: none;
  padding: 0px;
}

body header nav ul li {
  display: inline;
}

body header nav ul li a {
  overflow: visible;
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #030303;
  letter-spacing: 3px;
  margin: 0 40px;
}

body header nav ul li a:hover {
  color: #f22e63;
  text-decoration: none;
  border-bottom: 1px solid #f22e63;
}

body header nav ul li a.active {
  text-decoration: none;
  border-bottom: 2px solid #f22e63;
}

body header .search {
  position: absolute;
  right: 0;
  top: 0;
  padding: 15px;
  background-color: #000;
}

body header .search img {
  width: 35px;
}

body section.home-header {
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgba(0, 0, 0, 0.7)), color-stop(50%, rgba(23, 235, 177, 0.7))), url(../img/bg_header.png);
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 50%, rgba(23, 235, 177, 0.7) 50%), url(../img/bg_header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 1080px;
}

body section.home-header .block-text .text-title {
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: white;
  letter-spacing: 0.2px;
}

body section.home-header .block-text .title-dark {
  color: #000 !important;
}

body section.home-header .block-text svg {
  overflow: visible;
  width: 98.803px;
  height: 2px;
  left: 15px;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  margin: 5% 0px;
}

body section.home-header .block-text .description {
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: white;
  letter-spacing: 2.5px;
  max-width: 644px;
}

body section.home-header .block-text .btn-learn {
  background-color: #17ebb1;
  padding: 11px 40px;
  border-radius: 30px;
  display: block;
  margin: 10% 0px;
  max-width: 245px;
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: black;
  letter-spacing: 2.5px;
}

body section.home-header #Grupo_84 {
  position: absolute;
  width: 1px;
  height: 143.819px;
  left: 3.6%;
  top: 1008.192px;
  overflow: visible;
}

body section.home-header #Grupo_83 {
  position: absolute;
  width: 1px;
  height: 143.819px;
  left: 0px;
  top: 0px;
  overflow: visible;
}

body section.home-header svg.Trazado_39_g {
  overflow: visible;
  position: absolute;
  width: 143.819px;
  height: 1px;
  -webkit-transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1708.4922, 3679.1011) rotate(90deg);
          transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1708.4922, 3679.1011) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 0px;
  top: 0px;
}

body section.home-header .Trazado_40_ha {
  overflow: visible;
  position: absolute;
  width: 73.188px;
  height: 1px;
  -webkit-transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1743.8077, 3714.4166) rotate(90deg);
          transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1743.8077, 3714.4166) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 0px;
  top: 0px;
}

body section.who-we-are .block-text {
  height: 100%;
}

body section.who-we-are .block-text .dark-box {
  width: 100%;
  height: 100%;
  background: #000;
  height: 455px;
}

body section.who-we-are .block-text h1 {
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: #17ebb1;
  letter-spacing: 0.2px;
  padding: 50px 0px;
}

body section.who-we-are .block-text p {
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: black;
  letter-spacing: 1px;
  max-width: 635px;
}

body section.what-we-do h1 {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: white;
  letter-spacing: 0.2px;
  padding: 50px 0px;
}

body section.what-we-do .blocks {
  text-align: center;
  padding: 50px 0px;
}

body section.what-we-do .blocks svg {
  width: 55.427px;
  height: 94.454px;
}

body section.what-we-do .blocks h1 {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  color: white;
  letter-spacing: 2px;
  padding: 25px 0px;
}

body section.what-we-do .blocks p {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  max-width: 370px;
  margin: auto;
}

body section.what-we-do #Grupo_82 {
  position: absolute;
  width: 1px;
  height: 143.819px;
  right: 3.6%;
  overflow: visible;
  bottom: -75px;
}

body section.what-we-do .Trazado_39 {
  overflow: visible;
  position: absolute;
  width: 143.819px;
  height: 1px;
  -webkit-transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1708.4922, 3679.1011) rotate(90deg);
          transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1708.4922, 3679.1011) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 0px;
  top: 0px;
}

body section.what-we-do .Trazado_40 {
  overflow: visible;
  position: absolute;
  width: 73.188px;
  height: 1px;
  -webkit-transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1743.8077, 3714.4166) rotate(90deg);
          transform: translate(-1780.401px, -3607.192px) matrix(1, 0, 0, 1, 1743.8077, 3714.4166) rotate(90deg);
  -webkit-transform-origin: center;
          transform-origin: center;
  left: 0px;
  top: 0px;
}

body section.our-work .col-md-4 {
  display: inline-block;
  margin-left: -4px;
}

body section.our-work .col-md-4 img {
  width: 100%;
  height: auto;
}

body section.our-work .no-padding {
  padding-left: 0;
  padding-right: 0;
}

body section.our-work .carousel {
  position: relative;
  max-width: 66%;
  margin: auto;
}

body section.our-work .carousel-indicators li {
  background-color: #f22e63;
}

body section.our-work .carousel-indicators {
  bottom: 0;
}

body section.our-work .carousel-control-prev {
  left: -150px;
}

body section.our-work .carousel-control-next {
  right: -150px;
}

body section.our-work .carousel-control-prev-icon,
body section.our-work .carousel-control-next-icon {
  background-color: #f22e63;
  padding: 10px;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-size: 20px;
}

body section.our-work h1 {
  text-align: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: black;
  letter-spacing: 0.2px;
  padding: 25px 0px 50px;
}

body section.our-work .content-thumb {
  border: 1px solid;
  border: 1px solid;
  border-radius: 12px;
  min-height: 508px;
  margin-bottom: 20px;
}

body section.contact .blocks {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body section.contact h1 {
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  color: white;
  letter-spacing: 0.2px;
  padding: 15px 0px;
}

body section.contact ul {
  list-style: none;
  padding-bottom: 50px;
}

body section.contact ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

body section.contact ul li img {
  width: 28px;
}

body section.contact ul li span {
  text-align: left;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: white;
  letter-spacing: 1px;
  line-height: 50px;
  margin: 0px 20px;
}

body section.contact .Rect_ngulo_white {
  width: 100%;
  height: 508px;
  background: #fff;
  border-radius: 20px;
}
/*# sourceMappingURL=main.css.map */