@media only screen and (max-width: 992px) {
    @import "./menu.scss";
    body {
        section.home-header,
        section.who-we-are,
        section.what-we-do,
        section.our-work,
        section.contact {
            h1 {
                font-size: 40px !important;
            }
            .blocks {
                p {
                    font-size: 16px;
                }
            }
        }
        section.home-header {
            background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 100%, rgba(23, 235, 177, 0.7) 50%), url(../img/bg_header.png);
            height: auto;
            .block-text {
                .mb-center {
                    text-align: center;
                }
                svg {
                    width: 100%;
                    margin: 5% auto;
                }
                .description {
                    text-align: center;
                    margin: auto;
                    display: block;
                }
                .btn-learn {
                    margin-left: auto;
                    margin-right: auto;
                    font-size: 12px;
                }
                .text-title {
                    font-size: 35px;
                }
                .description {
                    font-size: 16px;
                }
            }
        }
        section.who-we-are {
            .block-text {
                h1 {
                    text-align: center;
                }
                p {
                    text-align: center;
                    margin: auto;
                    font-size: 12px;
                }
            }
        }
        section.our-work {
            .carousel {
                max-width: 100%;
                .carousel-control-prev {
                    left: 0px;
                }
                .carousel-control-next {
                    right: 0px;
                }
            }
        }
        section.contact {
            ul {
                li {
                    span {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1200px) {
    body {
        header {
            .menu {
                nav {
                    ul {
                        li {
                            a {
                                margin: 0 15px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}